<%= flash[:notice]  %>
<!--<table>-->
<table class="table table-hover">
    <thead>
        <tr>
            <th>Course Code</th>
            <th>Subject Name</th>
            <th>Professor</th>
            <th>Day & Period</th>
            <th>Classroom</th>
        </tr>
        <tbody>
            <% @UnivClasses.each do |univ_class| %>
                <!--<tr onclick='window.location="<%= user_univ_class_path(@user.id, univ_class.id) %>"', role="link">-->
                <tr onclick='window.location="<%= user_univ_class_path(@user.id, univ_class.id) %>"', role="link">
                    <th><%= univ_class.class_code %></th>
                    <th><%= univ_class.subject_name %></th>
                    <th><%= univ_class.professor %></th>
                    <th>
                        <% univ_class.univ_class_details.pluck(:day, :period).each do |detail| %>
                            <h5><%= detail[0]%>, <%= detail[1] %></h5>
                        <% end %>
                    </th>
                    <th><%= univ_class.univ_class_details[0].classroom %></th>
                </tr>
            <% end %>
        </tbody>
    </thead>
</table>
<div>
    <h4>Import</h4>
    <%= form_tag univ_classes_import_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "import csv" %>
    <% end %>
</div>
