<!--<table>-->
<div class="container">
    <div class="panel panel-info detailed-search">
        <div class="panel-heading">
            <h3>Detailed Search</h3>
        </div>
        <div class="panel-body">
            <div class="dropdown-detailed-search" style="display: inline-block; width:250px;">
                <div class="dropdown-day">
                    <div class="dropdown col-xs-12">
                    	<button class="btn btn-default dropdown-toggle detailed-search" disable="true" type="button" data-toggle="dropdown" data-target="day">
                    		Select Day<span class="caret" style="margin-left: 10px;"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li role="presentation"><a tabindex="-1" href="javascript:void(0)">Mon</a></li>
                    		<li role="presentation"><a tabindex="-1" href="javascript:void(0)">Tues</a></li>
                    		<li role="presentation"><a tabindex="-1" href="javascript:void(0)">Wed</a></li>
                    		<li role="presentation"><a tabindex="-1" href="javascript:void(0)">Thurs</a></li>
                    		<li role="presentation"><a tabindex="-1" href="javascript:void(0)">Fri</a></li>
                    		<li role="presentation"><a tabindex="-1" href="javascript:void(0)">All</a></li>
                    	</ul>
                    </div>
                </div>
            </div>
            <div class="dropdown-detailed-search" style="display: inline-block; width:250px;">
                <div class="dropdown-period">
                    <div class="dropdown col-xs-12">
                    	<button class="btn btn-default dropdown-toggle detailed-search" type="button" data-toggle="dropdown" data-target="period">
                    	    Select Period<span class="caret" style="margin-left: 10px"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li role="presentation"><a href="javascript:void(0)">1</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">2</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">3</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">4</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">5</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">All</a></li>
                    	</ul>
                    </div>
                </div>
            </div>
            <div class="dropdown-detailed-search" style="display: inline-block; width:250px;">
                <div class="dropdown-level">
                    <div class="dropdown col-xs-12">
                    	<button class="btn btn-default dropdown-toggle detailed-search" type="button" data-toggle="dropdown" data-target="period">
                    	    Select Level<span class="caret" style="margin-left: 10px"></span>
                    	</button>
                    	<ul class="dropdown-menu" role="menu">
                    		<li role="presentation"><a href="javascript:void(0)">Language</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">First Year Seminar I</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">First Year Seminar II</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">Intermediate Seminar</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">Introductory Course</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">Intermediate Course</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">Advanced Course</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">Other Course</a></li>
                    		<li role="presentation"><a href="javascript:void(0)">All</a></li>
                    	</ul>
                    </div>
                </div>
            </div>
            <div class="dropdown-detailed-search" style="display: inline-block;">
                <input type="button" onclick='"#"' value="Search!" class="btn btn-primary detailed-search-button" id="detailed-search-button"/>
        	</div>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Course Code</th>
            <th>Subject Name</th>
            <th>Professor</th>
            <th>Day & Period</th>
            <th>Classroom</th>
        </tr>
        <tbody>
            <h1 class="class-info-bar">
                <%= @sentence %>
            </h1>
            <h4 class="univ-class-counter">
                <% if @univ_classes.count > 1 %>
                    Result: <%= @univ_classes.count %> classes found
                <% else %>
                    Result: <%= @univ_classes.count %> class found
                <% end %>
            </h4>
            <% @univ_classes.each do |univ_class| %>
                <% if @user.present? %>
                    <tr onclick='window.location="<%= user_univ_class_path(@user.id, univ_class.id) %>"', role="link">
                <% else %>
                    <tr>
                <% end %>
                    <th><%= univ_class.class_code %></th>
                    <th><%= univ_class.subject_name %></th>
                    <th><%= univ_class.professor %></th>
                    <th>
                        <% univ_class.univ_class_details.pluck(:day, :period).each do |detail| %>
                            <h5><%= detail[0]%>, <%= detail[1] %></h5>
                        <% end %>
                    </th>
                    <th><%= univ_class.univ_class_details[0].classroom %></th>
                </tr>
            <% end %>
        </tbody>
    </thead>
</table>
<!--<div>-->
<!--    <h4>Import</h4>-->
<!--    <= form_tag univ_classes_import_path, multipart: true do %>-->
<!--        <= file_field_tag :file %>-->
<!--        <= submit_tag "import csv" %>-->
<!--    < end %>-->
<!--</div>-->

<style>
    .class-info-bar {
        margin-bottom: 30px;
        border-bottom: 3px double;
    }
    .univ-class-counter {
        margin-bottom: 15px;
        border-bottom: 1px solid;
    }
    .panel.panel-info.detailed-search {
        width: 1100px !important;
    }
    /*dropdown box*/
    .btn.btn-default.dropdown-toggle.detailed-search {
        width: 200px !important;
        margin-left: 30px !important;
    }
    .btn.btn-primary.detailed-search-button {
        /*background-color: #f44336;*/
        width: 150px;
        vertical-align: middle;
        margin-bottom: 27px;
        margin-left: 80px;
    }
    /*.dropdown-detailed-search {*/
    /*   display: inline-block !important;*/
    /*}*/
    .slash{
        font-size: 30px;
        margin-left: 50px;
        margin-right: 50px;
    }
</style>

<script>

    $(".dropdown-level .dropdown .dropdown-menu li a").click(function(){
        $(".btn:first-child")[2].innerHTML = $(this).text() + '<span class="caret" style="margin-left: 10px"></span>';
        if ($(".btn:first-child")[0].innerHTML.split('<')[0].replace(/\r?\n/g,"").trim() == "Select Day") {  $(".btn:first-child")[0].innerHTML = 'All' + '<span class="caret" style="margin-left: 10px"></span>'}
        var day = $(".btn:first-child")[0].innerHTML.split('<')[0];
        if ($(".btn:first-child")[1].innerHTML.split('<')[0].replace(/\r?\n/g,"").trim() == "Select Period") {  $(".btn:first-child")[1].innerHTML = 'All' + '<span class="caret" style="margin-left: 10px"></span>'}
        var period = $(".btn:first-child")[1].innerHTML.split('<')[0];
        var level = $(".btn:first-child")[2].innerHTML.split('<')[0];
        struct_link(day_convertor(day), period, level_convertor(level));
    });

    $(".dropdown-period .dropdown .dropdown-menu li a").click(function(){
        $(".btn:first-child")[1].innerHTML = $(this).text() + '<span class="caret" style="margin-left: 10px"></span>';
        var period = $(this).text();
        if ($(".btn:first-child")[0].innerHTML.split('<')[0].replace(/\r?\n/g,"").trim() == "Select Day") {  $(".btn:first-child")[0].innerHTML = 'All' + '<span class="caret" style="margin-left: 10px"></span>'}
        var day = $(".btn:first-child")[0].innerHTML.split('<')[0];
        if ($(".btn:first-child")[2].innerHTML.split('<')[0].replace(/\r?\n/g,"").trim() == "Select Level") { $(".btn:first-child")[2].innerHTML = 'All' + '<span class="caret" style="margin-left: 10px"></span>'}
        var level = $(".btn:first-child")[2].innerHTML.split('<')[0];
        struct_link(day_convertor(day), period, level_convertor(level));
    });

    $(".dropdown-day .dropdown .dropdown-menu li a").click(function(){
        $(".btn:first-child")[0].innerHTML = $(this).text() + '<span class="caret" style="margin-left: 10px"></span>';
        var day = $(this).text();
        if ($(".btn:first-child")[1].innerHTML.split('<')[0].replace(/\r?\n/g,"").trim() == "Select Period") {  $(".btn:first-child")[1].innerHTML = 'All' + '<span class="caret" style="margin-left: 10px"></span>'}
        var period = $(".btn:first-child")[1].innerHTML.split('<')[0];
        if ($(".btn:first-child")[2].innerHTML.split('<')[0].replace(/\r?\n/g,"").trim() == "Select Level") { $(".btn:first-child")[2].innerHTML = 'All' + '<span class="caret" style="margin-left: 10px"></span>'}
        var level = $(".btn:first-child")[2].innerHTML.split('<')[0];
        struct_link(day_convertor(day), period, level_convertor(level) );
    });
    
    function struct_link(day='All', period='All', level='All') {
        // ### SELECT PERIOD ###
        <% if @user.nil? %>
            var text = "#"
            return text;
        <% else %>
            var text = "/users/<%= @user.id %>/univ_classes?day="+day+"&period="+period+"&level="+level
            document.getElementById("detailed-search-button").attributes[1].value =`window.location="${text}"`;
            console.log(text);
            return text;
        <% end %>
    }
    
    function day_convertor(day) {
        var day_convertor = {"Mon" : "月", "Tues" : "火", "Wed" : "水", "Thurs" : "木", "Fri" : "金", "Select Day" : "All"};
        return day_convertor[day]
    }
    
    function level_convertor(level) {
        var level_convertor = { "Language" : "language", 
            "First Year Seminar I" : "first_year_seminar_I", 
            "First Year Seminar II" : "first_year_seminar_II",
            "Intermediate Seminar" : "intermediate_seminar",
            "Advanced Seminar" : "Advanced Seminar",
            "Introductory Course" : "introductory_course",
            "Intermediate Course" : "intermediate_course",
            "Advanced Course" : "advanced_course",
            "Other Course" : "other_course",
            "All" : "All",
            "Select All" : "All"
        }
        return level_convertor[level]
    }
</script>