<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Class Information</h3>
  </div>
    <div class="panel-body text-center">
      <h1><%= @univ_class.subject_name %></h1>
      <h5>
          Course Code: <font size=4><%= @univ_class.class_code %></font>
      </h5>
      <h5>
        Subject Name:  <font size=4><%= @univ_class.subject_name %></font>
      </h5>
      <h5>
        Day & Period:  
        <% @univ_class.univ_class_details.pluck(:day, :period).each do |detail| %>
            <font size=4><%= detail[0]%>, <%= detail[1] %></font>
        <% end %>
      </h5>
      <h5>
        Classroom:  <font size=4><%= @univ_class.univ_class_details[0].classroom %></font>
      </h5>
      <% if @univ_class.user != @user %>
        <%= link_to "Add To Your Schedule", user_univ_class_path(@user, @univ_class), method: :patch, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Remove from Your Schedule", user_univ_class_path(@user, @univ_class), method: :delete, class: "btn btn-danger" %>
      <% end %>
  </div>
</div>
