<!DOCTYPE html>
<html>
  <head>
    <title>Jikanwari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'app_logo.png' %>
    <%= Gon::Base.render_data %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <% if @user.nil? %>
                <%= link_to "Timeline Scheduler", univ_classes_path(@user), class: "navbar-brand" %>
              <% else %>
                <%= link_to "Timeline Scheduler", user_path(@user), class: "navbar-brand" %>
              <% end %>
            </div>
            <ul class="nav navbar-nav">
              <!--<li class="active"><a href="#">Home</a></li>-->
              <li><a href="#">Home</a></li>
              <li class='dropdown'>
                <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                  Course List <span class='caret'></span>
                </a>
                <ul class='dropdown-menu'>
                  <li>
                    <% if @user.nil? %>
                      <%= link_to "Language", univ_classes_path(:level => 'language') %>
                    <% else %>
                      <%= link_to "Language", user_univ_classes_path(@user, :level => 'language') %>
                    <% end %>
                  </li>
                  <li class='divider'></li>
                  <li>
                    <% if @user.nil? %>
                      <%= link_to "First Year Seminar I", univ_classes_path(:level => 'first_year_seminar_I') %>
                    <% else %>
                      <%= link_to "First Year Seminar I", user_univ_classes_path(@user, :level => 'first_year_seminar_I') %>
                    <% end %>
                  </li>
                  <li class='divider'></li>
                  <li>
                    <% if @user.nil? %>
                      <%= link_to "First Year Seminar II", univ_classes_path(:level => 'first_year_seminar_I') %>
                    <% else %>
                      <%= link_to "First Year Seminar II", user_univ_classes_path(@user, :level => 'first_year_seminar_II') %>
                    <% end %>
                  </li>
                  <li class='divider'></li>
                  <li>
                    <% if @user.nil? %>
                      <%= link_to "Intermediate Seminar", univ_classes_path(:level => 'first_year_seminar_I') %>
                    <% else %>
                      <%= link_to "Intermediate Seminar", user_univ_classes_path(@user, :level => 'intermidiate_seminar') %>
                    <% end %>
                  </li>
                  <li class='divider'></li>
                  <li>
                    <% if @user.nil? %>
                      <%= link_to "Advanced Seminar", univ_classes_path(:level => 'first_year_seminar_I') %>
                    <% else %>
                      <%= link_to "Advanced Seminar", user_univ_classes_path(@user, :level => 'advanced_seminar') %>
                    <% end %>
                  </li>
                  <li class='divider'></li>
                  <li>
                    <% if @user.nil? %>
                      <%= link_to "Introductory Course", univ_classes_path(:level => 'first_year_seminar_I') %>
                    <% else %>
                      <%= link_to "Introductory Course", user_univ_classes_path(@user, :level => 'introductory_course') %>
                    <% end %>
                  </li>
                  <li class='divider'></li>
                  <li>
                    <% if @user.nil? %>
                      <%= link_to "Intermediate Course", univ_classes_path(:level => 'first_year_seminar_I') %>
                    <% else %>
                      <%= link_to "Intermediate Course", user_univ_classes_path(@user, :level => 'intermidiate_course') %>
                    <% end %>
                  </li>
                  <li class='divider'></li>
                  <li>
                    <% if @user.nil? %>
                      <%= link_to "Advanced Course", univ_classes_path(:level => 'first_year_seminar_I') %>
                    <% else %>
                      <%= link_to "Advanced Course", user_univ_classes_path(@user, :level => 'advanced_course') %>
                    <% end %>
                  </li>
                  <li class='divider'></li>
                  <li>
                    <% if @user.nil? %>
                      <%= link_to "Advanced Course", univ_classes_path(:level => 'first_year_seminar_I') %>
                    <% else %>
                      <%= link_to "Other Course", user_univ_classes_path(@user, :level => 'other_course') %>
                    <% end %>
                  </li>
                </ul>
              </li>
              <li>
                <%= link_to "Your List", user_likes_path(@user), method: :get%>
              </li>
            </ul>
            <form class="navbar-form navbar-left" action="/action_page.php">
              <div class="form-group">
                <%= select_tag 'searchDropdownBox', options_for_select(UnivClass.all.map(&:subject_name)), class: "searchable", include_blank: "Search By Subject Name" %>
              </div>
              <input type="button" onclick='"#"' value="Submit" class="btn btn-info" id="search-by-subject-button"/>
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </nav>
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= value %>
          </div>
        <% end %>
      <%= yield %>
    </div>
    
    <style>
      .navbar {
        right: 75px;
        width: 1290px;
      }
      a.navbar-brand {
        color: white !important;
      }
    </style>
    
    <script>
      $(function() {
        return $(".searchable").select2({
          width: 400
        });
      });
      
      $('#searchDropdownBox').on('select2:select', function (e) {
          var data = e.params.data;
          <% if @user.present? %>
            document.getElementById("search-by-subject-button").attributes[1].value = `window.location="/users/<%= @user.id %>/univ_classes/search?subject_name=${data.text}"`;
          <% else %>
            document.getElementById("search-by-subject-button").attributes[1].value = `window.location="univ_classes/search?subject_name=${data.text}"`;
          <% end %>
          console.log(document.getElementById("search-by-subject-button").attributes[1].value);
      });

    </script>
  </body>
</html>
